body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherform{
    margin: 20px;

}


.cityinput{
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid #3a3a3a;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"]{
    padding: 10px 29px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hsl(132, 70%, 47%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

 button[type="submit"]:hover{
    background-color: #009222;
 }

 .card{
    background: linear-gradient(180deg,hsl(69, 100%, 42%),rgb(0, 140, 255));
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 17%,0.7);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
 }

 p{
    font-size: 1.5rem;
    margin: 5px 0;
 }

 .citydisplay,.tempdisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 17%,0.7);
    margin-bottom: 25px;
 }

 .humiditydisplay{
    font-weight: bold;
    margin-bottom: 25px;
 }

 .descdisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
 }

 .weatheremoji{
    margin: 0;
    font-size: 7.5rem;
 }

 .errordisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%,0.7);
 }

 h2{
    font-size: 2.5rem;
    font-weight: bold;
    align-content: center;
    margin: 0;
    margin-bottom: 25px;
    padding: 30px;
    display: flex;
 }